:root {
  --beige: #F7F3E3;
  --brunsombre: #2B2118;
  --brunclair: #A8763E;
  --blanc: #ECF0F1;
}

@font-face {
  font-family: "Mochibop" ;
  src: url(./assets/MochibopBold-Demo.ttf);
}

@font-face {
  font-family: "Moyudan" ;
  src: url(./assets/Moyudan.ttf);
}

body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body {
  background-color: rgb(168, 201, 250);
}

p {
  font-family: "Moyudan";
}

a {
  text-decoration: none;
  color: var(--brunsombre);
}

h1 {
  font-size: 4em;
  font-family: "Mochibop";
  color: var(--brunsombre);
  font-weight: 100;
}

button {
  border-radius: 30px;
  border-style: none;
  box-shadow: 3px 3px 5px #2b21186b;
  background-color: var(--beige);
  color: var(--brunsombre);
  font-family: "Moyudan";
  font-size: 110%;
  font-weight: bold;
  margin: 1%;
}

button:not(:hover) {
  transition: 0.1s ease;
}

button:hover {
  font-size: 120%;
  transition: 0.1s ease;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}