:root {
  --beige: #F7F3E3;
  --brunsombre: #2B2118;
  --brunclair: #A8763E;
  --blanc: #ECF0F1;
}

@font-face {
  font-family: "Mochibop";
  src: url(./assets/MochibopBold-Demo.ttf);
}

@font-face {
  font-family: "Moyudan";
  src: url(./assets/Moyudan.ttf);
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: #b28755;
}

p {
  font-family: "Moyudan";
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: var(--brunsombre);
}

h1 {
  font-size: 4em;
  font-family: "Mochibop";
  color: var(--brunsombre);
  font-weight: 100;
}

h2 {
  font-size: 2em;
  font-family: "Mochibop";
  color: var(--brunsombre);
  font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  margin: 1%;
}

button {
  border-radius: 30px;
  border-style: none;
  box-shadow: 3px 3px 5px #2b21186b;
  background-color: var(--beige);
  color: var(--brunsombre);
  font-family: "Moyudan";
  font-size: 1.8vh;
  font-weight: bold;
  margin: 1%;
  padding: 6px;
}

button:not(:hover) {
  transition: 0.1s ease;
}

button:hover {
  font-size: 2vh;
  transition: 0.1s ease;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (min-aspect-ratio: 16/9) {
  .bookBottom {
    margin-top: 0.5%;
  }
}